html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

ol,ul {
    list-style:none
}

blockquote,q {
    quotes:none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse:collapse;
    border-spacing:0
}

body {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height:1
}

input {
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    height: 40px;
    font-size: 14px;
}

img {
    vertical-align: middle;
}

:global(.container) {
    width: 100%;
    height: 100%;
    padding-top: 46px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(102, 117, 127);
}

:global(.center-container) {
    margin-top: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}


