
.loginContainer {
    padding: 0 10px;
}

.hero {
    font-size: 2rem;
    text-align: center;
    color: black;
    margin-top: 36px;
    margin-bottom: 24px;
}

.loginButton {
    width: 80%;
    height: 36px;
    background: rgb(56, 151, 240);
    color: white;
    font-size: 1.1em;
    border: 1px solid rgb(56, 151, 240);
    border-radius: 3px;
    margin: 0 10%;
}

.loginContainer input {
    width: 80%;
    margin: 0 10% 20px;
}

