
.topicActionContainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;

    color: #AAB8B4;
    font-size: 14px;
    height: 30px;
}

.topicActionContainer div {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.topicActionContainer span {
    margin-left: 8px;
}

