/*@import 'font-awesome/css/font-awesome.css';*/

.topic-action-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;

    color: #AAB8B4;
    font-size: 14px;
    height: 30px;
}

.topic-action-item {
    min-width: 60px;

    display: flex;
    align-items: center;
}

.topic-action-container span {
    margin-left: 8px;
}

