
.topicActionContainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;

    color: #AAB8B4;
    font-size: 14px;
    height: 30px;
}

.topicActionItem {
    min-width: 60px;

    display: flex;
    align-items: center;
}

.topicActionContainerSpan {
    margin-left: 8px;
}

.topic-action-container span {
    margin-left: 8px;
}

