@import models.User
@(user: Option[User])

@layouts.application("", user) {

    <link rel="stylesheet" href=@routes.Assets.versioned("lib/summernote/dist/summernote.css")>
    <link rel="stylesheet" href=@routes.Assets.versioned("lib/font-awesome/css/font-awesome.css")>
    <script src=@routes.Assets.versioned("lib/summernote/dist/summernote.js")></script>

    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="new-topic-title" placeholder="Title">
        </div>
        <div class="form-group">
            <div id="new-topic-content"></div>
        </div>
        <button type="submit" class="btn btn-primary" id="new-topic-submit">Submit</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#new-topic-content').summernote({
                height: 300,

                minHeight: 300,

                focus: true
            });

            $('#new-topic-submit').on('click', function(e) {
                var newTopicTitle = $('#new-topic-title');
                var newTopicContent = $('#new-topic-content');

                e.preventDefault();
                console.log(this + "got clicked");

                var newTopic = {
                    title: newTopicTitle.val(),
                    content: newTopicContent.code()
                };

                $.ajax({
                    type: "POST",
                    url: "/topics",
                    data: JSON.stringify(newTopic),
                    contentType: "application/json",
                    processData: false
                }).done(function() {
                    console.log("done");
                }).fail(function() {
                    console.log("fail");
                }).always(function() {
                    console.log("always");
                });
            });
        });
    </script>

}
