.topicListItemContainer {
    border-bottom: 1px solid #e1e8ed;
    background-color: white;
}

.topicContent {
    padding: 9px 12px;
    display: flex;
    align-items: flex-start;
}

.topicMain {
    color: #292f33;
    margin-left: 12px;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}

.topicInfo {
    display: flex;
    font-size: 12px;
    margin-bottom: 4px;
}

.topicNode {
    padding: 1px 5px;
    line-height: 16px;
    color: #778087;
    background-color: #f5f5f5;
}

.topicLogin {
    color: #666;
    line-height: 16px;
    margin-left: 4px;
}

.topicAction {
    width: 90%;
    max-width: 240px;
}