.tabBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    z-index: 100;
    border-bottom: 1px solid #eee;
}

.tabBar a {
    color: inherit;
}


.tabBar span {
    font-size: 0.81rem;
}

.tabBar i {
    font-size: 1.31rem;
    margin-right: 8px;
}

.tabItemContainer {
    height: 46px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.tabItemContainer.selected {
    border-bottom: 2px solid #009de0;
}

