
.profileListContainer {
    margin-top: 12px;
    padding: 0 8px;
    border-top: 1px solid #eee;
}

.profileListItemContainer {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee;
    word-break: break-all;
    white-space: pre-wrap;
}

.profileListItemContainer code {
    word-break: break-all;
    white-space: pre-wrap;
}

.profileListItemContainer img {
    max-width: 100%;
}

.profileListUserContainer {
    display: flex;
    justify-content: space-between;
}

.profileListUserItemContainer {
    flex-direction: row;
}

.profileUserInfo {
    margin-left: 12px;
}

.profileFullname {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.profileUsername {
    font-size: 0.8rem;
}


.profileListItemTitle {
    font-size: 1.0rem;
    color: #303030;
    margin-bottom: 6px;
}

.profileListItemInfo {
    font-size: 0.8rem;
}

.profileListItemNode {
    background: #ecebeb;
    color: #444;
    margin-right: 8px;
}


.profileListItemAggregation {
}