
.profileNavigationContainer {

    border: 1px solid #0091c5;
    border-radius: 4px;
    height: 32px;
    margin: 0 8px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profileItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.selected {
    background: #0091c5;
    color: white;
}

.profileText {
    font-size: 0.8rem;
}

.profileNumber {
    color: #0084B4;
    font-size: 1.2rem;
    margin-top: 4px;
    margin-bottom: 8px;
}