
.profileUserDetailsContainer {
    margin: 9px 12px;
    display: flex;
}



.profileInfo {
    margin-left: 12px;
    font-size: 0.8rem;
    flex: 1;
}

.profileUserDetailsItem {
    display: flex;
    justify-content: space-between;
}

.profileInfo div {
    margin-top: 5px;
}

.profileFullname {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}

.profileUsername {
    font-size: 1rem;
}

.profileFollowButton {
    background: #317DDA;
    height: 30px;
    font-size: 1rem;
    color: white;
    border: #356DD0;
    border-radius: 2px;
    opacity: 0.9;
    padding: 0 14px;
}