.replyListItemContainer {
    margin-top: 9px;
    padding: 0 12px 9px;
    display: flex;
    border-bottom: 1px solid #eee;
    word-break: break-all;
    white-space: pre-wrap;
}

.replyListItemContainer img {
    max-width: 100%;
}

.replyListItemContainer span {
    word-break: break-all;
    white-space: pre-wrap;
}

.replyListItemContainer code {
    word-break: break-all;
    white-space: pre-wrap;
}

.replyListItemContainer a {
    text-decoration: underline;
    color: #0069D6;
}

.replyMain {
    margin-left: 12px;
    width: 80%;
}

.topicInfo {
    display: flex;
    font-size: 12px;
    margin-bottom: 4px;
}

.topicLogin {
    color: #666;
    line-height: 16px;
    margin-left: 4px;
}
