.topicHeaderContainer {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
    margin: 9px 12px;
    padding-bottom: 10px;
}

.topicMain {
    margin-left: 12px;
    width: 90%;
}

.topicInfo {
    display: flex;
    font-size: 12px;
    margin-bottom: 4px;
}

.topicNode {
    padding: 1px 5px;
    line-height: 16px;
    color: #778087;
    background-color: #f5f5f5;
}

.topicLogin {
    color: #666;
    line-height: 16px;
    margin-left: 4px;
}

.topicTitle {
    font-size: 24px;
    margin: 0;
    color: #3D464C;
}
