.container {
    width: 100%;
    height: 100%;
}

.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    z-index: 100;
}

.tab-item-container {
    height: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.tab-item-container.selected {
    border-bottom: 2px solid #009de0;
}

.scroll {
    flex: 1;
    overflow: scroll;
}

.scroll-container {
    overflow: auto;
}

#ptr {
    width: 100%;
    position: absolute;
    left: 0;
    top: -50px;
    height: 50px;
    background-color: darkgray;
    z-index: 10;
}

.scroll-background {
    background-color: #333;
}

.scroll-content {
    background-color: #F5F8FA;
}
