.container {
    width: 100%;
    height: 100%;
    padding-top: 46px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(102, 117, 127);
}

.shadow-bar {
    width: 100%;
    height: 46px;
}


.scroll {
    flex: 1;
    overflow: scroll;
}

.scroll-container {
    /*overflow: auto;*/
}

.scroll-content {
    background-color: #F5F8FA;
}

