.container {
    width: 100%;
    height: 100%;
    padding-top: 46px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(102, 117, 127);
}

.topic-container {
    background-color: #F5F8FA;
    padding: 15px 10px 0 10px;
}

.inner-topic-container {
    background: white;
}

.panel-heading {
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #f9f9f9;
}

.topic-detail-heading {
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #f9f9f9;
}

.topic-detail-body {
    line-height: 1.8em;
    font-size: 14px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 15px;
}

.topic-detail-footer {

}