html, body, #app {
    /*height: 100%;*/
}

body {
    margin: 0;
    padding: 0;
    font: normal 100% Helvetica, Arial, sans-serif;
    font-family: sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
    margin: 0;
}


