.topics-container {
    margin: 0 10px;
}

.topic-container {
    border-bottom: 1px solid #e1e8ed;
}

.topic-content {
    padding: 9px 12px;
    display: flex;
    align-items: flex-start;
}

.topic-content .topic-main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
