@(products: List[Product])(implicit flash: Flash, lang: Lang)

@layouts.application(Messages("application.name")) {
    <dl class="products">
        @for(product <- products) {
            <dt><a href="@routes.ProductsController.details(product.ean)">@product.name</a></dt>
            <dd>@product.description</dd>
        }
    </dl>

    <p>
        <a href="@controllers.routes.ProductsController.newProduct()" class="btn">
            <i class="icon-plug"></i> @Messages("products.new.command")
        </a>
    </p>
}