<footer class="footer" id="footer">
    <div class="container">
        <div class="media">
            <div class="media-left" style="margin-right:20px;">
                <img class="media-object" src="//ruby-china-files.b0.upaiyun.com/photo/5982eaaa64f467d9dbda03ad4f40ea27.png" style="width:56px;">
            </div>

            <div class="media-body">
                <div class="links">
                    <a href="/wiki/about">关于</a> / <a href="/users">活跃会员</a> / <a href="/api">API</a> / <a href="https://ruby-china-files.b0.upaiyun.com/files/ruby-china-notifier-1.3.3.zip">Mac 客户端</a> / <a href="/wiki/contributors">贡献者</a> / <a href="/wiki/spread_ruby_china">帮助推广</a> / <a href="/topics/node22">反馈</a> / <a href="http://github.com/ruby-china" target="_blank" rel="nofollow" title="本站在 GitHub 上面的开源内容">GitHub</a> / <a href="http://twitter.com/ruby_china" target="_blank" rel="nofollow">Twitter</a>
                </div>
                <div class="copyright">
                    中国 Ruby 社区，由众多爱好者共同维护，致力于构建完善的 Ruby 中文社区。<br>
                    图片存储由 <a href="https://www.upyun.com/?utm_source=ruby-china&amp;utm_medium=ad&amp;utm_campaign=upyun&amp;md=ruby-china" target="_blank" style="display:inline-block;" rel="twipsy" title="" data-original-title="图片存储由又拍云赞助">又拍云存储</a> 提供。
                </div>
                <div class="links" style="margin-top:8px" data-no-turbolink="">
                    <a href="?locale=zh-CN" rel="nofollow">简体中文</a> / <a href="?locale=zh-TW" rel="nofollow">正體中文</a> / <a href="?locale=en" rel="nofollow">English</a>
                </div>
            </div>
            <div class="media-right" style="width:200px; text-align:right;">
                <a href="http://www.ucloud.cn/?ref=ruby-china" target="_blank" rel="twipsy" title="" style="display:inline-block;margin-right:5px; margin-top: 5px;" data-original-title="本站服务器由 UCloud 赞助"><img src="//ruby-china-files.b0.upaiyun.com/photo/2015/60202bb15bf6dc06fc8dd7e8baea061c.png" style="height:24px;"></a>
            </div>

        </div>
    </div>
</footer>