.topic-detail {
    margin-top: 9px;
}

.topic-detail img {
    width: 100%;
}

.topic-detail span {
    word-break: break-all;
    white-space: pre-wrap;
}

.topic-detail code {
    word-break: break-all;
    white-space: pre-wrap;
}

.topic-header-container {
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.topic-title {
    font-size: 24px;
    margin: 0;
    color: #3D464C;
}


