@(title: String = "")(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if(title.length == 0) {
        <title>Scala China</title>
    } else {
        <title>@title | Scala China</title>
    }
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
    <script type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
</head>
<body>
    <section class="application container-fluid">
        @partials.header()
        <section class="main">@content</section>
        @partials.footer()
    </section>
</body>